<ion-header>
  <ion-toolbar>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item button *ngFor="let item of items$ | async">
      <ion-thumbnail slot="start">
        <img [src]="item.produto.imageUrl || 'assets/imgs/prod.jpg'">
      </ion-thumbnail>
      <ion-label>
        <h2>{{item.produto.nome}}</h2>
        <p>{{item.produto.preco | currency}}</p>
      </ion-label>

      <ion-icon name="remove-circle" color="primary" (click)="decreaseQuantity(item.produto)">
      </ion-icon>
      <ion-card-content>{{item.quantidade}}</ion-card-content>
      <ion-icon name="add-circle" color="primary" (click)="increaseQuantity(item.produto)"></ion-icon>
      <ion-icon name="trash" item-end color="danger" (click)="removeItem(item.produto)"></ion-icon>
    </ion-item>

    <ng-container *ngIf="total() > 0 else empity">
      <ion-item>
        <ion-label>
          <h1>Total</h1>
        </ion-label>
        <h1 slot="end">{{total()}}</h1>
      </ion-item>
    </ng-container>

    <ng-template #empity>
      <ion-item>
        <ion-label>
          <h1 align="center">Seu carrinho está vazio</h1>
        </ion-label>
      </ion-item>
    </ng-template>

    <ion-button expand="block" color="primary" routerLink="/categorias">CONTINUAR COMPRANDO</ion-button>
  </ion-list>

</ion-content>