<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>

    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img [src]="profileImage" alt="profile">
  </ion-avatar>
  <h2 text-center>{{cliente?.nome}}</h2>
  <p text-center>{{cliente?.email}}</p>

  <ion-card>
    <ion-card-header> Enviar imagem de perfil </ion-card-header>
    <ion-item *ngIf="picture"> <img [src]="picture"> </ion-item>

    <ion-button (click)="getCameraPicture()" expand="block" [disabled]="cameraOn">Camera</ion-button>
    <ion-button *ngIf="picture" fill="outline" expand="block" (click)="sendPicture()">Enviar imagem</ion-button>
    <ion-button *ngIf="picture" fill="outline" expand="block" (click)="cancel()">Descartar imagem</ion-button>
  </ion-card>

</ion-content>