<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button routerLink="/cart">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item button *ngFor="let item of items$ | async" routerLink="/produto-detail/{{item.id}}">
      <ion-thumbnail slot="start">
        <img [src]="item.imageUrl || 'assets/imgs/prod.jpg'">
      </ion-thumbnail>
      <ion-label>
        <h2>{{item.nome}}</h2>
        <p>{{item.preco | currency}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>