<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>

    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-item>
      <ion-label position="floating">Nome*</ion-label>
      <ion-input formControlName="nome"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left>Valor inválido
    </p>
    <ion-item>
      <ion-label position="floating">Email*</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Valor
      inválido</p>
    <ion-list radio-group name="tipo">
      <ion-list-header> Tipo de cliente </ion-list-header>
      <ion-radio-group value="biff">
        <ion-item>
          <ion-label>Pessoa física</ion-label>
          <ion-radio slot="end" value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Pessoa jurídica</ion-label>
          <ion-radio slot="end" value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item>
      <ion-label position="floating">CPF ou CNPJ</ion-label>
      <ion-input formControlName="cpfOuCnpj"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.cpfOuCnpj.dirty && formGroup.controls.cpfOuCnpj.errors" margin-left>
      Valor inválido</p>
    <ion-item>
      <ion-label position="floating">Senha*</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.senha.dirty && formGroup.controls.senha.errors" margin-left>Valor
      inválido</p>
    <ion-item>
      <ion-label position="floating">Logradouro*</ion-label>
      <ion-input formControlName="logradouro"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.logradouro.dirty && formGroup.controls.logradouro.errors" margin-left>
      Valor inválido</p>
    <ion-item>
      <ion-label position="floating">Número*</ion-label>
      <ion-input formControlName="numero"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.numero.dirty && formGroup.controls.numero.errors" margin-left>Valor
      inválido</p>
    <ion-item>
      <ion-label position="floating">Complemento</ion-label>
      <ion-input formControlName="complemento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bairro</ion-label>
      <ion-input formControlName="bairro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CEP*</ion-label>
      <ion-input formControlName="cep"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.cep.dirty && formGroup.controls.cep.errors" margin-left>Valor inválido
    </p>
    <ion-item>
      <ion-label position="floating">Telefone 1*</ion-label>
      <ion-input formControlName="telefone1"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.telefone1.dirty && formGroup.controls.telefone1.errors" margin-left>
      Valor inválido</p>
    <ion-item>
      <ion-label position="floating">Telefone 2</ion-label>
      <ion-input formControlName="telefone2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone 3</ion-label>
      <ion-input formControlName="telefone3"></ion-input>
    </ion-item>

    <ion-list>
      <ion-list-header>
        <ion-label> Endereço </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select formControlName="estadoId" value="1" (ionChange)="updateCidades()">
          <ion-select-option *ngFor="let estado of estados; first as f" [value]="estado.id">
            {{estado.nome}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Cidade</ion-label>
        <ion-select formControlName="cidadeId">
          <ion-select-option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.nome}}</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <ion-button [disabled]="formGroup.invalid" (click)="signupUser()" expand="block">Criar conta</ion-button>
  </form>
</ion-content>