<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>

    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-item>
      <ion-label position="floating">Nome*</ion-label>
      <ion-input formControlName="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email*</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-list radio-group name="tipo">
      <ion-list-header> Tipo de cliente </ion-list-header>
      <ion-radio-group value="biff">
        <ion-item>
          <ion-label>Pessoa física</ion-label>
          <ion-radio slot="end" value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Pessoa jurídica</ion-label>
          <ion-radio slot="end" value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item>
      <ion-label position="floating">CPF ou CNPJ</ion-label>
      <ion-input formControlName="cpfOuCnpj"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha*</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Logradouro*</ion-label>
      <ion-input formControlName="logradouro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Número*</ion-label>
      <ion-input formControlName="numero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Complemento</ion-label>
      <ion-input formControlName="complemento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bairro</ion-label>
      <ion-input formControlName="bairro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CEP*</ion-label>
      <ion-input formControlName="cep"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone 1*</ion-label>
      <ion-input formControlName="telefone1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone 2</ion-label>
      <ion-input formControlName="telefone2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone 3</ion-label>
      <ion-input formControlName="telefone3"></ion-input>
    </ion-item>

    <ion-list>
      <ion-list-header>
        <ion-label> Endereço </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select formControlName="estadoId" value="1">
          <ion-select-option value="1">Minas Gerais</ion-select-option>
          <ion-select-option value="2">São Paulo</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Cidade</ion-label>
        <ion-select formControlName="cidadeId" value="1">
          <ion-select-option value="1">Uberlândia</ion-select-option>
          <ion-select-option value="2">Campinas</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button (click)="signupUser()" expand="block">Criar conta</ion-button>
  </form>
</ion-content>