<ion-header>
  <ion-toolbar>
    <ion-title>Produto Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="item$ | async as item">
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button routerLink="/cart">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="md hydrated">
    <img [src]="item.imageUrl || 'assets/imgs/prod.jpg'">

    <ion-card-header class="ion-inherit-color md hydrated">
      <ion-card-title>{{item.nome}}</ion-card-title>
    </ion-card-header>

    <ion-card-content> {{item.preco | currency}} </ion-card-content>

    <ion-button expand="block" color="primary" (click)="addToCart(item)">Adicionar ao carrinho</ion-button>
  </ion-card>
</ion-content>